
<!doctype html>


<html>

    <head>

        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1">
         {% load static %}

         <!-- Template Main CSS File -->
  
       <link rel="stylesheet" href="{% static './asset/css/style.css' %}">
       <link rel="stylesheet" href="{% static './asset/css/all.min.css' %}">
       <link rel="stylesheet" href="{% static './asset/css/fontawesome.css' %}">

<!-- Vendor CSS Files -->
  <link href="{% static './asset/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static './asset/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static './asset/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href= "{% static './asset/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static './asset/vendor/glightbox/css/glightbox.min.css' %}"  rel="stylesheet">
  <link href="{% static './asset/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">


 


        <title>Contacts</title>

         
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
				
				<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </head>

    <body>

{% block page_content %}{% endblock %}



  <!-- Vendor JS Files -->
  <script src= "{% static './asset/vendor/purecounter/purecounter.js' %}"></script>
  <script src="{% static './asset/vendor/aos/aos.js' %}"></script>
  <script src="{% static './asset/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static './asset/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static './asset/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static './asset/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static './asset/vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static './asset/vendor/php-email-form/validate.js' %}"></script>
  <script src="https://kit.fontawesome.com/b90aaf6de6.js" crossorigin="anonymous"></script>

  {% comment %} "{% static './asset/js/main.js' %}" {% endcomment %}

  <!-- Template Main JS File -->
  <script src=  "{% static './asset/js/main.js' %}"></script>
  <script src=  "{% static './asset/js/all.min.js' %}"></script>

    </body>

</html>