{% extends "base.html" %}

{% block page_content %}
{% load socialaccount %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  
</head>
<body>
 <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="index.html">KHOJ<span>.</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt=""></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="CreateClusters/">Create Cluster</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <body>

   <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <h1>Welcome to <span>KHOJ</span></h1>
     
{% if user.is_authenticated %}
  <p> You are logged in as {{ user.username }}</p>

  {% comment %} <a href="{% url 'logout' %}">Logout</a> {% endcomment %}

  {% comment %} <a href="CreateClusters/"> Create a cluster! </a> {% endcomment %}
{% else %}
  <a href="{% provider_login_url 'google' %}">Login With Google</a>

{% endif %}
      <div class="d-flex">
        <a href="CreateClusters/" class="btn-get-started scrollto">Create cluster</a>
                <a href="{% url 'logout' %}" class="btn-get-started scrollto">logout</a>
       
      </div>
    </div>
  </section><!-- End Hero -->
  
{% comment %} 

<h1>My Google OAuth Project </h1>

{% if user.is_authenticated %}
  <p>Welcome, You are logged in as {{ user.username }}</p>

  <a href="{% url 'logout' %}">Logout</a>

  <a href="CreateClusters/"> Create a cluster! </a>
{% else %}
  <a href="{% provider_login_url 'google' %}">Login With Google</a>

{% endif %} {% endcomment %}


{% endblock %}
</body>
</html>
