<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template is working</title>
</head>
<body>

<h1> Hello, Welcome to text solution. Enter your text here please!</h1> <br>

<form action="/tasks/checkcommand" method="get">

    <textarea name="text" placeholder="Enter your text here"></textarea> <br>
    <input type="checkbox" name="removepunc"> Remove Punctuation </input> <br>
    <input type="checkbox" name="removespace"> Remove Space </input> <br>
    <input type="checkbox" name="capitalize"> Capitalize Word </input> <br>
    <button type="submit"> Submit </button>



</form>



</body>
</html>